.button {
  padding: 0.5rem 2rem;
  background: var(--color-tertiary);
  border-radius: 6.25rem;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear, transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

  &:hover, &:focus, &:active {
    background-color: var(--color-tertiary-hover);
    transform: translateY(-2px);
  }

  &:focus {
    outline: 2px solid var(--color-tertiary);
    outline-offset: 2px;
  }

  @media (max-width: 600px) {
    padding: 0.25rem 1.25rem;
    font-size: 1rem;
  }
}