.card {
  background: hsla(0, 0%, 100%, .3), linear-gradient(135deg, hsla(0, 0%, 100%, 0.2) 0%, hsla(0, 0%, 100%, 0.05) 100%);
  border: 2px solid #fff;
  padding: 3rem;
  border-radius: 2rem;
  position: relative;
  backdrop-filter: blur(4px);

  @media (max-width: 600px) {
    padding: 1.5rem;
  }

  &[data-appearance = "secondary"] {
    padding: 2rem;
    background: hsla(0,0%,100%,.6);
    border-radius: 1rem;
    backdrop-filter: blur(24px);
  }
}
