.desktop-container {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: 1100px) {
    display: none;
  }
}

.mobile-container {
  @media (min-width: 1101px) {
    display: none;
  }
}

.main-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-basis: 60vw;
  display: flex;
  justify-content: center;
}

.main-mobile-content {
  padding: 56px 32px;
}

.left-sidebar-layout {
  position: fixed;
  top: var(--size-2);
  left: var(--size-2);
  height: calc(100% - var(--size-4));
  z-index: 2;

  div {
    height: 100%;
  }
}

.right-sidebar-layout {
  position: fixed;
  top: var(--size-2);
  right: var(--size-2);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(110%);

  &[data-open="true"] {
    transform: translateX(0);
  }
}

.main-nav-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-nav-item-name {
  font-family: var(--font-primary);
  font-size: var(--medium-text-font-size);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  line-height: 0;
}